{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1>Liste des postes</h1>
    
    
    {% for post in posts %}
 feature/Bootsrap
    
    <div class="card bg-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">   <h2>{{ post.title }}</h2></div>
  <div class="card-body">
    <h4 class="card-title"> <div>{{ post.content }}</div></h4>
    <p class="card-text"><div>{{ post.status }}</div></p>
     <div>{{ post.createdAt|date("d/m/Y") }}</div>
  </div>
</div>
    
   {% endfor %}
        </div>
       
       {{form_start(form)}}
       
       {{form_end(form)}}
    </div>
feature/post_v2
{% endblock %}
      
       
       
        
    
