{% extends 'base.html.twig' %}

{% block title %}StackOverflow{% endblock %}

{% block body %}
  <div class="jumbotron shadow">
    <h1 class="display-3 text-center">Bienvenue sur <span class="text-warning">StackOverflow</span></h1>
    <hr class="my-4">
    {% if is_granted('ROLE_USER') %}
      <p class="lead">
        Posez votre questions aux développeurs de la communauté StackOverflow :
      </p>
      <div>
          {{form_start(form)}} 
          {{form_widget(form)}}
          <div class="text-right">
            <button type="submit" class="btn btn-primary">Osekour !</button>
          </div>
          {{form_end(form)}}
      </div>
    {% else %}
      <p class="text-center"><a href="{{ path('app_login') }}">Connectez-vous</a> ou <a href="{{ path('app_register') }}">inscrivez-vous</a> pour poser vos questions aux autres développeurs de la communauté StackOverflow</p>
      <p class="lead text-center">
        <a class="btn btn-primary btn-lg" href="{{ path('app_login') }}" role="button">Connexion</a>
      </p>
    {% endif %}
  </div>

  <h1 style="text-align:center;">Les dernières questions de la communauté</h1>

  {% for post in posts %}
    {% include 'partials/_post.html.twig' %}
    <a href="{{ path('connect_github_start') }}">
    Login with Github
</a>
  {% endfor %}
{% endblock %}
      
       
       
        
    
