{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

<div class="card bg-secondary mb-3">
  <div class="card-header">   <h2>{{ app.user.username }}</h2></div>
  <div class="card-body">
    <h4 class="card-title"> <div>{{ app.user.firstname }}</div></h4>
    <p class="card-text"><div>{{ app.user.lastname }}</div></p>
     <div>{{ app.user.email }}</div>
  </div>
</div>
<div>
    <a href="{{ path('app_profil_edit', {'id': app.user.id }) }}">Modifier mon profil</a>
    <a href="{{ path('app_profil_edit_password', {'id': app.user.id }) }}">Modifier mon mot de passe</a>
</div>
{% endblock %}
